:root {
  --soft-bg: #f0efeb;
  --main-timeline: #cb997e;
  --accent-timeline: #a5a58d;
  --dark: #0d0a0b;
  --left-margin: 5vw;
}

.App {
  text-align: left;
  color: var(--dark);
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: flex-state;
  height: 70px;
  font-family: "Roboto Slab", serif;
  padding-left: var(--left-margin);
}

.App-header h1 {
  color: white;
  font-size: 24px;
  margin: 0;
}

.App-logo {
  max-height: 80%;
}

.App-link {
  color: #61dafb;
}

.Timeline-yearListItem {
  position: relative;
  border-left: solid var(--main-timeline) 4px;
  padding-left: var(--left-margin);
  padding-top: 50px;
  margin-left: var(--left-margin);
}

.Timeline-yearHeader {
  /* position: absolute; */
  left: var(--left-margin);
  font-size: 2rem;
  background-color: var(--main-timeline);
  color: var(--dark);
  padding: 8px 14px;
  margin-left: calc(var(--left-margin) * -1);
  border-left: 0;
}

.Timeline-eventsListItem {
  /* border-left: solid #247ba0 4px; */
  max-width: 500px;
  padding-top: 15px;
}

.Timeline-eventsListItemContent {
  position: relative;
}

.Timeline-eventsListItem:not(:last-child) {
  padding-bottom: 35px;
}

.Timeline-eventsListItem:first-child {
  padding-top: 35px;
}

.Timeline-eventsListDate {
  display: block;
  padding: 4px 0 8px;
}

.Timeline-eventsListBullet {
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 16px;
  background-color: white;
  border: solid var(--main-timeline) 3px;
  position: absolute;
  left: calc(var(--left-margin) * -1 - 10px);
  top: 5px;
}

.Timeline-eventsListControls {
  margin-left: 16px;
  display: inline-block;
  /* width: 60px; */
}

.Timeline-eventsListControls button:not(:first-child) {
  margin-left: 8px;
}

.Event {
  border: solid var(--dark) 1px;
  padding: 12px;
  border-radius: 5px;
}

.Event--deleted {
  overflow: hidden;
  background-color: #dadada;
  opacity: 0.5;
}

.Event-summary {
  margin-top: 16px;
}

.Event-title {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
}

.Event-addResource {
  margin-top: 16px;
}

.Event--editing .Event-resources {
  margin-top: 16px;
}

/* No left-hand padding for left alignment */
.Resources-expandButton button {
  padding-left: 0;
}

.ResourceEditor:not(:first-child) {
  margin-top: 16px;
  padding-top: 16px;
  border-top: solid #dadada 1px;
}

.ResourceField:not(:first-child) {
  margin-top: 8px;
}
